/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=css+clike+javascript+json */
/* Please see the article */

#editing,
#highlighting {
	/* Both elements need the same text and space styling so they are directly on top of each other */
	margin: 10px;
	padding: 10px;
	border: 0;
	width: calc(100% - 15px);
	height: calc(100% - 15px);
}
#editing,
#highlighting,
#highlighting * {
	/* Also add text styles to highlighing tokens */
	font-size: 15pt;
	font-family: monospace;
	line-height: 1.5;
	tab-size: 2;
}

#editing:focus,
#highlighting:focus {
	outline: none;
}

#editing,
#highlighting {
	/* In the same place */
	position: absolute;
	top: 0;
	left: 0;
}

/* Move the textarea in front of the result */

#editing {
	z-index: 1;
}
#highlighting {
	z-index: 0;
}

/* Make textarea almost completely transparent */

#editing {
	color: transparent;
	background: transparent;
	caret-color: white; /* Or choose your favourite color */
}

/* Can be scrolled */
#editing,
#highlighting {
	overflow: auto;
	white-space: nowrap; /* Allows textarea to scroll horizontally */
}

/* No resize on textarea */
#editing {
	resize: none;
}

/* Paragraphs; First Image */
* {
	font-family: "Fira Code", monospace;
}
p code {
	border-radius: 2px;
	background-color: #eee;
	color: #111;
}

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: 0 0;
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: #999;
}
.token.punctuation {
	color: #ccc;
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
	color: #e2777a;
}
.token.function-name {
	color: #6196cc;
}
.token.boolean,
.token.function,
.token.number {
	color: #f08d49;
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
	color: #f8c555;
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
	color: #cc99cd;
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
	color: #7ec699;
}
.token.entity,
.token.operator,
.token.url {
	color: #67cdcc;
}
.token.bold,
.token.important {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
.token.inserted {
	color: green;
}
